####################################################
## Basic settings

# tell lombok this is your root directory
config.stopBubbling = true

# Lombok is working together with checkerframework to enable detection of
# improper builder use (such as forgetting to set a mandatory property prior to calling build())
checkerframework = false

# nicer syntax for setters and builders
lombok.accessors.flagUsage = ALLOW
lombok.accessors.chain = true
lombok.accessors.fluent = true

# broken in JDK9+, effectively deprecated
lombok.addJavaxGeneratedAnnotation = false
# add @lombok.Generated annotations, useful for code coverage
lombok.addLombokGeneratedAnnotation = true
# Lombok will add nullability annotations whether it's possible
lombok.addNullAnnotations = jetbrains
# Lombok will add @SuppressFBWarnings annotations to all generated methods
lombok.extern.findbugs.addSuppressFBWarnings = true

# raise warnings on experimental features
lombok.experimental.flagUsage = WARNING

# Forbidden features
lombok.cleanup.flagUsage = ERROR
lombok.extensionMethod.flagUsage = ERROR
lombok.fieldNameConstants.flagUsage = ERROR
lombok.getter.lazy.flagUsage = ERROR
lombok.helper.flagUsage = ERROR
lombok.nonNull.flagUsage = ERROR
lombok.val.flagUsage = ERROR
lombok.var.flagUsage = ERROR
lombok.sneakyThrows.flagUsage = ERROR
lombok.superBuilder.flagUsage = ERROR
lombok.synchronized.flagUsage = ERROR


####################################################
## Feature settings

##########################
## features without settings
lombok.data.flagUsage = ALLOW
lombok.setter.flagUsage = ALLOW
lombok.utilityClass.flagUsage = ALLOW
lombok.value.flagUsage = ALLOW
lombok.with.flagUsage = ALLOW

lombok.delegate.flagUsage = WARNING
lombok.onX.flagUsage = WARNING


##########################
## log settings
lombok.log.flagUsage = ALLOW
lombok.log.slf4j.flagUsage = ALLOW

lombok.log.fieldIsStatic = true
lombok.log.fieldName = log

lombok.log.apacheCommons.flagUsage = ERROR
lombok.log.custom.flagUsage = ERROR
lombok.log.flogger.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.log.log4j.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
lombok.log.xslf4j.flagUsage = ERROR


##########################
## constructor settings
lombok.allArgsConstructor.flagUsage = ALLOW
lombok.anyConstructor.flagUsage = ALLOW
lombok.noArgsConstructor.flagUsage = ALLOW
lombok.requiredArgsConstructor.flagUsage = ALLOW

# add @ConstructorProperties annotation, useful for Jackson etc
lombok.anyConstructor.addConstructorProperties = true
# generate extra private ctor with default values
lombok.noArgsConstructor.extraPrivate = false


##########################
## builder settings
lombok.builder.flagUsage = ALLOW
lombok.builder.className = *Builder
lombok.singular.auto = true
lombok.singular.useGuava = false


##########################
## equals and hashcode settings
lombok.equalsAndHashCode.flagUsage = ALLOW
lombok.equalsAndHashCode.callSuper = WARN
lombok.equalsAndHashCode.doNotUseGetters = false


##########################
## field defaults settings
lombok.fieldDefaults.flagUsage = ALLOW
lombok.fieldDefaults.defaultFinal = false
lombok.fieldDefaults.defaultPrivate = false


##########################
## getter settings
lombok.getter.flagUsage = ALLOW
lombok.getter.noIsPrefix = false


##########################
## toString settings
lombok.toString.flagUsage = ALLOW
lombok.toString.callSuper = SKIP
lombok.toString.doNotUseGetters = false
lombok.toString.includeFieldNames = true
